<div id="container">
    <div id="title">
        <h1>Sportsfest Stream</h1>
    </div>

    <form id="selectSportForm">
        <h2>Select a Sport</h2>
        <div class="radio-group">
            <input type="radio" id="soccer" name="sport" value="soccer">
            <label for="soccer">Soccer</label>
        </div>
        <div class="radio-group">
            <input type="radio" id="frisbee" name="sport" value="frisbee">
            <label for="frisbee">Frisbee</label>
        </div>
        <div class="radio-group">
            <input type="radio" id="basketball" name="sport" value="basketball">
            <label for="basketball">Basketball</label>
        </div>
        <div class="radio-group">
            <input type="radio" id="volleyball" name="sport" value="volleyball">
            <label for="volleyball">Volleyball</label>
        </div>
        <input id="submitSportChoice" type="submit" value="Submit">
    </form>
</div>

<script src="/public/js/landingPage.js"></script>