

<input id="team1" class="team scoreboard" type="text" value="team1" readonly="true"></input>
<input id="score1" class="score scoreboard" type="text" value="0" readonly="true"></input>
<input id="set1" class="set scoreboard" type="text" value="0" readonly="true"></input>
<input id="score2" class="score scoreboard" type="text" value="0" readonly="true"></input>
<input id="team2" class="team scoreboard" type="text" value="team2" readonly="true"></input>
<input id="set2" class="set scoreboard" type="text" value="0" readonly="true"></input>

</br>
</br>
</br>
</br>
</br>
</br>

<button id="team1_minus_1" name="button">- 1</button>
<button id="team1_plus_1" name="button">+ 1</button>

<button id="team2_minus_2" name="button">- 1</button>
<button id="team2_plus_2" name="button">+ 1</button>

</br>
</br>

<input id="set_input_1" type="number" value="0"></input>
<input id="set_input_2" type="number" value="0"></input>
<button id="set_input_button" name="set_button">Set Score</button>

</br>
</br>

<input id="team_input_1" type="text" value="team1"></input>
<input id="team_input_2" type="text" value="team2"></input>
<button id="set_input_button" name="set_button">Set Teams</button>


<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/score_input_view_volleyball.js"></script>