<div>
    <input class="header inputs" id="frisbeeHeader" type="text" value="BCSF Frisbee" readonly="true">
</div>
<div class="scoreboardOuterContainer">
    <div class="frisbeeTeam1">
        <input class="frisbeeTeam1 inputs" id="frisbeeTeam1" name="frisbeeTeam1name" type="text" value="" readonly="true"></input>
        <input class="frisbeeTeam1 inputs" id="frisbeeScore1" name="frisbeeTeam1score" type="text" value="0" readonly="true"></input>
    </div>

    <div class="frisbeeTeam2">
        <input class="frisbeeTeam2 inputs" id="frisbeeScore2" type="text" value="0" readonly="true"></input>
        <input class="frisbeeTeam2 inputs" id="frisbeeTeam2" type="text" value="" readonly="true"></input>
    </div>
</div>

<img class="scoreboard-images" src="/public/images/{{scoreboard}}" alt="" />






<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/scoreboard_view_frisbee.js"></script>