


<input id="score1" type="text" value="0" readonly="true"></input>
<input id="score2" type="text" value="0" readonly="true"></input>

</br>

<button id="button1" name="button">Team 1</button>
<button id="button2" name="button">Team 2</button>


<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/score_input_view.js"></script>