<div class="scoreboardOuterContainer">
    <div class="basketballTeam1">
        <input class="basketballTeam1" id="basketballTeam1" name="basketballTeam1name" type="text" value="Team 1 Name" readonly="true"></input>
        <input class="basketballTeam1" id="basketballScore1" name="basketballTeam1score" type="text" value="0" readonly="true"></input>
    </div>

    <div class="basketballTeam2">
        <input class="basketballTeam2" id="basketballScore2" type="text" value="0" readonly="true"></input>
        <input class="basketballTeam2" id="basketballTeam2" type="text" value="Team 2 Name" readonly="true"></input>
    </div>
</div>

<img class="scoreboard-images" src="/public/images/{{scoreboard}}" alt="" />






<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/scoreboard_view_basketball.js"></script>