<div class="scoreboardOuterContainer">
    <div class="basketballTeam1">
        <input class="basketballTeam1 teamName" id="basketballTeam1" name="basketballTeam1name" type="text" value="TBD"></input>
        <input class="basketballTeam1 teamScore" id="basketballScore1" name="basketballTeam1score" type="text" value="0"></input>
    </div>

    <div class="basketballTeam2">
        <input class="basketballTeam2 teamName" id="basketballTeam2" type="text" value="TBD"></input>
        <input class="basketballTeam2 teamScore" id="basketballScore2" type="text" value="0"></input>
    </div>
</div>

<div>
    <input class="header" id="basketballHeader" type="text" value="BCSFBasketball">
</div>

<img class="scoreboard-images" src="../../public/images/{{scoreboard}}" alt="" />

<div class="button-container">
    <div class="scoreInputButtons" id="basketballTeam1Buttons">
        <button id="basketballTeam1minus1" name="button">- 1</button>
        <button id="basketballTeam1plus1" name="button">+ 1</button>
    </div>
    <div class="scoreInputButtons" id="basketballTeam2Buttons">
        <button id="basketballTeam2minus1" name="button">- 1</button>
        <button id="basketballTeam2plus1" name="button">+ 1</button>
    </div>
</div>

<button class="reset" id="resetScore" type="button">Reset</button>


<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/score_input_view_basketball.js"></script>