<div id="scoreInputContainer">
    <div class="scoreboardOuterContainer">
        <div class="frisbeeTeam1">
            <input class="frisbeeTeam1" id="frisbeeTeam1" name="frisbeeTeam1name" type="text" value="Team 1 Name" readonly="true"></input>
            <input class="frisbeeTeam1" id="frisbeeScore1" name="frisbeeTeam1score" type="text" value="0" readonly="true"></input>
        </div>

        <div class="frisbeeTeam2">
            <input class="frisbeeTeam2" id="frisbeeScore2" type="text" value="0" readonly="true"></input>
            <input class="frisbeeTeam2" id="frisbeeTeam2" type="text" value="Team 2 Name" readonly="true"></input>
        </div>
    </div>

    <img class="scoreboard-images" src="../../public/images/{{scoreboard}}" alt="" />

    <div class="button-container">
        <div class="scoreInputButtons" id="frisbeeTeam1Buttons">
            <button id="frisbeeTeam1minus1" name="button">- 1</button>
            <button id="frisbeeTeam1plus1" name="button">+ 1</button>
        </div>
        <div class="scoreInputButtons" id="frisbeeTeam2Buttons">
            <button id="frisbeeTeam2minus1" name="button">- 1</button>
            <button id="frisbeeTeam2plus1" name="button">+ 1</button>
        </div>
    </div>
</div>

<button class="reset" id="resetScore" type="button">Reset</button>


<script src="/socket.io/socket.io.js"></script>
<script src="/public/js/score_input_view_frisbee.js"></script>