:root {
	--buttonSpacingFromCenter: 80px;
	--buttonBorderRadius: 5px;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	animation: fadein 1.25s ease-in-out;
}

.scoreboard-view-basketball input {
	display: inline-flex;
	padding: 15px 10px 5px 10px;
	background: none;
	border: 0;
	color:white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.scoreboard-view-basketball input.header {
	position: absolute;
	width: 95px;
	left: 185px;
	top: 100px;
	z-index: 1;
}

.uneditable:focus {
	outline: none;
}

.uneditable {
	cursor: default;
}

.scoreboard-view-basketball {
	display: flex;
}

.scoreboard-view-basketball .scoreboard-img-container {
    background-image: url("/public/images/scoreboardBasketball.png");
    background-repeat: no-repeat;
    background-position: center;

    /* Adjust width and height to the background image's */
    width: 294px;     
    height: 144px;
}

.scoreboard-view-basketball div.scoreboardOuterContainer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	position: absolute;
	left: 110px;
	z-index: 1;
}

.scoreboard-view-basketball div.scoreboardOuterContainer > div {
	display: flex;
	z-index: 1;
}

.scoreboard-view-basketball div.basketballTeam1 > input,
.scoreboard-view-basketball div.basketballTeam2 > input {
	font-size: 24px;
	display: inline-flex;
	background: none;
	border: 0;
}

.scoreboard-view-basketball input.basketballTeam1,
.scoreboard-view-basketball input.basketballTeam2 {
	width: 100%;
}

.scoreboard-view-basketball #basketballTeam1,
.scoreboard-view-basketball #basketballTeam2 {
	width: 110px;
}

.scoreboard-view-basketball #basketballScore1,
.scoreboard-view-basketball #basketballScore2 {
	width: 35px;
	text-align: center;
}

.scoreboard-view-basketball .scoreboard-images {
	z-index: 0;
}

.scoreboard-view-basketball .scoreboard-view-basketball {
	display: flex;
	flex-direction: row;
	align-items: flex-start; 
	justify-content: flex-start; 
	gap: 24px; 
}

.scoreboard-view-basketball .marquee-container {
  	display: flex ;
	overflow: hidden ;
	white-space: nowrap ;
	position: absolute;
	width: 100px;
	left: 195px;
	top: 108px;
}

.scoreboard-view-basketball .marquee-text {
	animation-duration: 4s ;
	animation-iteration-count: infinite ;
	animation-name: marquee-content ;
	animation-timing-function: linear ;
	padding: 5px 15px 5px 15px ;
	font-size: 20px;
	font-family: Arial, Helvetica, sans-serif;
	color:white;
}

@keyframes marquee-content {
	from {
		transform: translateX( 0% );
	}
	to {
		transform: translateX( -100% );
	}
}

/* Button Styling */

.scoreboard-view-basketball .button-container {
	margin: 10px;
	display: flex;
    flex-direction: column;
}

.scoreboard-view-basketball button {
	padding: 5px 20px;
	margin: 5px;
	font-size: 16px;
	border: none;
	border-radius: var(--buttonBorderRadius);
}

.scoreboard-view-basketball .scoreInputButtons button {
	opacity: 0.95;
	color: white;
	background-color: #9d3f3f;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.scoreboard-view-basketball #basketballTeam1Buttons button:hover {
	opacity: 0.95;
	background-color: #fb5a02;
}

.scoreboard-view-basketball #basketballTeam2Buttons button:hover {
	opacity: 0.95;
	background-color: #233fc6;
}

.scoreboard-view-basketball button.reset {
	padding: 8px 16px;
	font-size: 14px;
	border: 1px solid #e74c3c;
	background-color: transparent;
	border-radius: var(--buttonBorderRadius);
	color: #e74c3c;
	cursor: pointer;
	transition: all 0.2s ease;
}

.scoreboard-view-basketball button.reset:hover {
	background-color: #e74c3c;
	border-radius: 0;
	color: white;
	transition: all 0.3s ease-out;
}