:root {
	--buttonSpacingFromCenter: 70px;
	--buttonBorderRadius: 5px;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

body {
	animation: fadein 1.25s ease-in-out;
}

div.scoreboardOuterContainer {
	display: flex;
	justify-content: space-between;
	position: absolute;
	width: 590px;
	height: 50px;
	left: 29px;
	top: 5vh;
	z-index: 1;
}

div.scoreboardOuterContainer > div {
	display: flex;
	width: 250px;
	height: 100%;
	justify-content: space-between;
	z-index: 1;
}

input {
	font-size: 24px;
	display: inline-flex;
	background: none;
	border: 0;
}

.uneditable:focus {
	outline: none;
}

.uneditable {
	cursor: default;
}

input.header {
	font-size: 14pt;
	position: absolute;
	left: 25px;
	top: 18px;
	z-index: 1;
}

input.frisbeeTeam1,
input.frisbeeTeam2 {
	width: 192px;
}

#frisbeeTeam1,
#frisbeeTeam2 {
	width: 192px;
}

#frisbeeScore1,
#frisbeeScore2 {
	width: 50px;
	text-align: center;
}

#frisbeeTeam2 {
	text-align: right;
}

#frisbeeScore2 {
	text-align: center;
}

.scoreboard-images {
	z-index: 0;
}

/* Need to create logged-in class? */

/* Button Styling */

.button-container {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	width: 384px;
	left: 125px;
	z-index: 2;
}

.scoreInputButtons {
	display: flex;
	gap: 10px;
}

button.reset {
	position: relative;
	left: 278px;
	/* top: -40px; */
}

.scoreInputButtons button {
	opacity: 0.95;
	padding: 3px 10px;
	font-size: 14px;
	border: none;
	border-radius: var(--buttonBorderRadius);
	color: white;
	background-color: #9d3f3f;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#frisbeeTeam1Buttons {
	padding-right: var(--buttonSpacingFromCenter);
}

#frisbeeTeam1Buttons button:hover {
	opacity: 0.95;
	background-color: #233fc6;
}

#frisbeeTeam2Buttons {
	padding-left: var(--buttonSpacingFromCenter);
}

#frisbeeTeam2Buttons button:hover {
	opacity: 0.95;
	background-color: #fb5a02;
}

button.reset {
	padding: 8px 16px;
	font-size: 14px;
	border: 1px solid #e74c3c;
	background-color: transparent;
	border-radius: var(--buttonBorderRadius);
	color: #e74c3c;
	cursor: pointer;
	transition: all 0.2s ease;
}

button.reset:hover {
	background-color: #e74c3c;
	border-radius: 0;
	color: white;
	transition: all 0.3s ease-out;
}