:root {
    --displayBlue: blue;
}

body {
    background-image: url("/public/images/scoreboardSoccer.png");
    background-repeat: no-repeat;
}

.uneditable:focus {
	outline: none;
}

.uneditable {
	cursor: default;
}

.scoreboard-view-soccer {
	display: flex;
	flex-direction: row;
	align-items: flex-start; 
	justify-content: flex-start; 
	gap: 24px; 
}

.scoreboard-container {
    width: 294px;
    height: 122px;
}

.scoreboard {
    color:white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: transparent;
    border: none;
}

.team {
    width: 90px;
    height: 30px;    
    position: absolute;
    left: 100px;    
    text-align: left;
}

#team1 {
    top: 12px;
}

#team2 {
    top: 58px;
}

.score {
    position: absolute;
    text-align: right;
    height: 30px;
    width: 50px;
    left: 230px;
}

#score1 {    
    top: 12px;    
}

#score2 {
    top: 58px;    
}

#info_banner {
    position: absolute;
    top: 101px;    
    text-align: left;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    border: none;   
    width: 273px; 
}

/* Button Styling */

.button-container {
	display: flex;
    flex-direction: column;
}

button {
	padding: 5px 20px;
	margin: 5px;
	font-size: 16px;
	border: none;
	border-radius: var(--buttonBorderRadius);
}

.button-row button {
	opacity: 0.95;
	color: white;
	background-color: #9d3f3f;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

#team1_plus_1:hover, #team1_minus_1:hover {
	opacity: 0.95;
	background-color: #fb5a02;
}

#team2_plus_2:hover, #team2_minus_2:hover {
	opacity: 0.95;
	background-color: #233fc6;
}

button.reset {
	padding: 8px 16px;
	font-size: 14px;
	border: 1px solid #e74c3c;
	background-color: transparent;
	border-radius: var(--buttonBorderRadius);
	color: #e74c3c;
	cursor: pointer;
	transition: all 0.2s ease;
}

button.reset:hover {
	background-color: #e74c3c;
	border-radius: 0;
	color: white;
	transition: all 0.3s ease-out;
}