:root {
    --displayBlue: blue;
}

body {
    background-image: url("/public/images/scoreboardSoccer.png");
    background-repeat: no-repeat;
}

.uneditable:focus {
	outline: none;
}

.uneditable {
	cursor: default;
}

.scoreboard {    
    color:white;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: transparent;
    border: none;
}

.team {
    width: 90px;
    height: 30px;    
    position: absolute;
    left: 100px;    
    text-align: left;
}

#team1 {
    top: 12px;
}

#team2 {
    top: 58px;
}

.score {
    position: absolute;
    text-align: right;
    height: 30px;
    width: 50px;
    left: 240px;
}

#score1 {    
    top: 12px;    
}

#score2 {
    top: 58px;    
}

#info_banner {
    position: absolute;
    top: 101px;    
    text-align: left;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    background: transparent;
    border: none;   
    width: 273px; 
}