/* :root {
	--buttonSpacingFromCenter: 80px;
	--buttonBorderRadius: 5px;
} */

@font-face {
	font-family: 'BebasNeue-Regular';
	src: url('../fonts/bebas_neue/BebasNeue-Regular.ttf') format('truetype');
}

.container {
	display: flex;
	justify-content: center; /* horizontal */
	align-items: center;     /* vertical */
	height: 100vh;           /* full viewport height */
  	text-shadow:
    	-1px -1px 0 black,
     	1px -1px 0 black,
    	-1px  1px 0 black,
     	1px  1px 0 black;	
	color: white;  
	font-weight: bold;
	padding: 10px;
	background: none;
	/* border: 0; */
	font-family: sans-serif;
	font-size: 96px;		
}

.centered-content {
    width: 100%;
}