/* :root {
	--buttonSpacingFromCenter: 80px;
	--buttonBorderRadius: 5px;
} */

@font-face {
	font-family: 'BebasNeue-Regular';
	src: url('../fonts/bebas_neue/BebasNeue-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat-Black';
	src: url('../fonts/Montserrat-Black/Montserrat-Black.ttf') format('truetype');
}

.container {
	display: flex;
	justify-content: center; /* horizontal */
	align-items: center;     /* vertical */
	height: 100vh;           /* full viewport height */
  	text-shadow:
    	-1px -1px 0 black,
     	1px -1px 0 black,
    	-1px  1px 0 black,
     	1px  1px 0 black;	
	color: white;  
	font-weight: bold;
	padding: 10px;
	background: none;
	/* border: 0; */
	/* font-family: sans-serif; */
	/* font-family: 'Montserrat-Black'; */
	font-size: 96px;		
}

.centered-content {
    width: 100%;
	white-space: pre-wrap;
	font-family: 'Montserrat-Black';
}

.page-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;    
}

/* 2. Position the PNG image at exact coordinates */
.ig-positioned-png {
	position: absolute;
	left: 650px;       /* X coordinate (distance from left) */
	top: 880px;        /* Y coordinate (distance from top) */
	width: 60px;       /* Set image size as needed */
	height: auto;
}

.fb-positioned-png {
	position: absolute;
	left: 650px;       /* X coordinate (distance from left) */
	top: 950px;        /* Y coordinate (distance from top) */
	width: 60px;       /* Set image size as needed */
	height: auto;
}

.yt-positioned-png {
	position: absolute;
	left: 650px;       /* X coordinate (distance from left) */
	top: 1020px;        /* Y coordinate (distance from top) */
	width: 60px;       /* Set image size as needed */
	height: auto;
}