:root {
    --displayBlue: blue;
}


body {
    background-image: url("/public/images/scoreboardvball.png");
    background-repeat: no-repeat;
}

.uneditable:focus {
	outline: none;
}

.uneditable {
	cursor: default;
}

.scoreboard {
    text-align: center;
    color:white;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: transparent;
    border: none;
}

.team {
    width: 130px;
    height: 65px;
}

.score {
    width: 75px;
    height: 65px;
}

.set {
    width: 75px;
    height: 65px;    
}

#team1 {
    position: absolute;
}

#score1 {
    position: absolute;
    left: 255px;
}

#score2 {
    position: absolute;
    left: 447px;
}

#team2 {
    position: absolute;
    left: 638px;
}

#set1 {
    position: absolute;
    left: 162px;
    top: 20px;
}

#set2 {
    position: absolute;
    left: 545px;    
    top: 20px;
}


.button_score {
	opacity: 0.95;
	padding: 5px 20px;
	font-size: 16px;
	border: none;
	border-radius: var(--buttonBorderRadius);
	color: white;
	background-color: #9d3f3f;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.button_set {
	opacity: 0.95;
	padding: 5px 20px;
	font-size: 16px;
	border: none;
	border-radius: var(--buttonBorderRadius);
	color: white;
	background-color: #9d3f3f;
	cursor: pointer;
	transition: background-color 0.3s ease;
}

.set_team_2 {
    position: absolute;
    left: 545px;
}

.set_team_1 {
    position: absolute;
    left: 162px;
}

.score_team_1 {
    position: absolute;
    left: 255px;
}

.score_team_2 {
    position: absolute;
    left: 447px;
}

button.reset {
    position: absolute;
    left: 355px;
	padding: 8px 16px;
	font-size: 14px;
	border: 1px solid #e74c3c;
	background-color: transparent;
	border-radius: var(--buttonBorderRadius);
	color: #e74c3c;
	cursor: pointer;
	transition: all 0.2s ease;
}

button.reset:hover {
	background-color: #e74c3c;
	border-radius: 0;
	color: white;
	transition: all 0.3s ease-out;
}

/* 
    . for classes
    # for id's
    > for all children
    + adjacent children
    target:command
*/


