:root {
    --displayBlue: blue;
}


body {
    background-image: url("/public/images/scoreboardvball.png");
    background-repeat: no-repeat;
}

.uneditable:focus {
	outline: none;
}

.uneditable {
	cursor: default;
}

.scoreboard {
    text-align: center;
    color:black;
    font-size: 45px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background: transparent;
    border: none;
}

.team {
    width: 130px;
    height: 65px;
}

.score {
    width: 75px;
    height: 65px;
}

.set {
    width: 75px;
    height: 65px;    
}

#team1 {
    position: absolute;
}

#score2 {
    position: absolute;
    left: 447px;
}

#score1 {
    position: absolute;
    left: 255px;
}

#team2 {
    position: absolute;
    left: 638px;
}

#set1 {
    position: absolute;
    left: 162px;
    top: 20px;
}

#set2 {
    position: absolute;
    left: 545px;    
    top: 20px;
}


/* 
    . for classes
    # for id's
    > for all children
    + adjacent children
    target:command
*/


